/* styles.css */

.centered-container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    height: 8vh;
    margin-top: 100;
    margin-bottom: 0px;
    background-color: grey;
  }
  /* styles.css */
  
  .footer-top-wrapper {
    background-color: #9b9e8b; /* Background color of the footer wrapper */
    padding: 20px 0; /* Add padding as needed */
  }
  
  .footer-top-container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    max-width: 1200px; /* Limit the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the menu horizontally */
  }
  
  .menu__item {
    margin: 0 10px; /* Adjust margin between menu items */
  }
  
  .menu__link {
    color: #000000; /* Text color of menu items */
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu__link:hover {
    text-decoration: underline; /* Add underline on hover */
    color: white;
  }