/* Style for the reservation button */
button {
    background-color: #ff6600; /* Example background color */
    color: rgb(254, 39, 39);
    border: none;
    padding: 5px 5px;
    font-size: 26px;
    cursor: pointer; /* Default cursor */
  
    /* Smooth transition for hover effect */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  /* Hover effect */
  button:hover {
    color: #cc5200; /* Darker background color */
    transform: scale(1.02); /* Slightly enlarge the button */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  /* Additional focus state for accessibility */
  /* button:focus {
    outline: 2px solid #ff6600;
 } /* Outline for focus state */
  
  